<div class="form-group">
  <%= p.label :title, "Title" %>
  <%= p.text_field :title, :class=>'form-control'%>
</div>

<div class="form-group">
  <%= p.label :content, "Content" %>
  <%= p.text_area :content, :class=>'form-control' %>
</div>

<div class="form-group">
  <%= p.file_field :logo %>
  <%if @post.logo.exists? %>
    <%= check_box_tag "_remove_logo", "1" %>  Romove Picture
  <% end %>
</div>


<div class="form-group">
        <%= p.label :category_id, "Category" %>
        <%= p.collection_check_boxes :category_ids, Category.all, :id, :name %>
</div>

<div class="form-group">
  <%= p.label :tag_list, "Tags (separated by commas)" %> <br />
  <%= p.text_field :tag_list , :class=>'form-control js-tagging'%>
</div>


