


<div class="row utility">
  <div class="category-tag">

    <%= form_tag(posts_path, method: :get) do %>
    <span>Category Filter</span>
      <% @categories.each do |c|%>
        <%= check_box_tag( "category_ids[]" , c.id) %>
        <%= label_tag(" ", c.name ) %>
      <%end%>
      <%= submit_tag "Go", :class=> 'btn btn-default'%>
    <% end %>
  </div>

  <div class="utility-tag-right">
    <%=link_to"Add Post", new_post_path, :class=>"btn btn-warning"%>
    <%= link_to "Default", posts_path(:order =>'id ASC'),:class=>"btn btn-default"%>
    <%= link_to "Recently updated", posts_path(:order =>'updated_at'), :class=>"btn btn-default"%>
    <%= link_to "Most Commented", posts_path(:order =>'comments_count'), :class=>"btn btn-default"%>
  </div>
</div>



<div class="panel panel-primary">
  <div class="panel-heading"><h2 class="panel-title text-centered">Posts List</h2></div>
  <table class="table table-responsive table-hover" id="list">
    <tr>
      <th colspan="4">Order</th>
      <th>Title</th>
      <th>Comments</th>
      <th>Author</th>
      <th>Tags </th>
      <th>Category</th>
      <th colspan="3">Operation</th>
    </tr>

    <% @posts.each do |p|%>
    <tr id="post-list-<%= p.id %>" data-reorder-url="<%= move_post_path(p)%>">
      <td>
        <%= link_to move_post_path(p, :position => :first), :method => :post do %>
          <span class="fa fa-angle-double-up"></span>
        <% end %>
      </td>

      <td>
        <%= link_to move_post_path(p, :position => :up), :method => :post do %>
           <span class="fa fa-angle-up"></span>
        <% end %>
      </td>
      <td>
        <%= link_to move_post_path(p, :position => :down), :method => :post do %>
          <span class="fa fa-angle-down"></span>
        <% end %>
      </td>
      <td>
        <%= link_to move_post_path(p, :position => :last), :method => :post do %>
          <span class="fa fa-angle-double-down"></span>
        <% end %>
      </td>
      <td><%=p.title%></td>
      <td><%=p.comments_count%></td>
      <td><%=link_to p.user.try(:short_name), user_path(p.user) %></td>
      <td><%= p.tags.map{|t| t.name}.join(" | ")%></td>
      <td><%= p.categories.map{ |x| x.name }.join(", ") %></td>

      <td><%=link_to "Show", post_path(p) ,:class=>'btn btn-primary'%></td>

      <td>
        <% if p.user == current_user %>
          <%=link_to "Edit", edit_post_path(p) ,:class=>'btn btn-primary'%>
        <% end %>
      </td>
      <td>
        <% if p.user == current_user %>
          <%=link_to "Delete", post_path(p),:remote =>true, :method => :delete ,:class=>'btn btn-danger'%>
        <% end %>
      </td>
    </tr>
    <%end%>
  </table>
</div>
<%#= paginate @posts %>

<script>
$( ".selector" ).sortable({
  sort: function( event, ui ) {}
});

  $("table").sortable({
      items: "tr",
      update: function(event, ui) {

          console.log("Move to "+ ui.item.index() );

        url = ui.item.data("reorder-url")

        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            data:{
                position: ui.item.index()
            }
        })
      }
  });




</script>



