<h4>hi <%=current_user.email%></h4>
<h2>Posts List</h2>


<%=link_to"Add Post", new_post_path, :class=>"btn btn-mini"%>
<table class="table table-responsive table-hover">
  <tr>
    <th>Title</th>
  </tr>

  <% @posts.each do |p|%>
  <tr>
    <td><%=p.title%></td>
    <td><%=p.user.try(:email)%></td>
    <td><%=link_to "Show", post_path(p) ,:class=>'btn btn-primary'%></td>
    <td><%=link_to "Edit", edit_post_path(p) ,:class=>'btn btn-primary'%></td>
    <td><%=link_to "Delete", post_path(p), :method => :delete ,:class=>'btn btn-primary'%></td>
  </tr>
  <%end%>
</table>
<%= paginate @posts %>
