
<%if @post.logo.exists? %>
      <%= image_tag @post.logo.url, :class=>'img-responsive center-block' %>
    <% else %>
        None
    <% end %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Title : <%=@post.title%></h2>
  </div>
  <div class="panel-body ">
    <%= simple_format(@post.content)%>
  </div>
  <div class="panel-footer">
    <%= @post.created_at.to_s(:short) %>
    <% if @user == current_user %>
      <%=link_to "Edit", edit_post_path(@post) ,:class=>'btn btn-default panel-right'%>
    <% end %>
  </div>
</div>



<div class="row">
  <div class="col-xs-8 ">
    <% @post.categories.each do |c| %>
      <span class="glyphicon glyphicon-tags">  <%=c.name%>  |</span>
    <%end%>
    <td>Tags : <%= @post.tags.map{|t| t.name}.join(" | ")%></td>
  </div>

  <div style="float:right">

  <% if @post.favorites.find_by_user_id(current_user) %>
    <%=link_to "Remove from Favorite", remove_favorite_post_path(@post), :method=> :post, :class => 'btn btn-warning'%>
  <% else %>
    <%=link_to "Add to Favorite", add_favorite_post_path(@post),:method=> :post, :class => 'btn btn-warning'%>
  <% end %>
  </div>
</div>



<hr>
  <%=form_for [@post, @comment],  :class=>'form' do |c|%>
    <%= render :partial => 'comments/form', :locals =>{:c => c}%>
    <%=c.submit "Send", :class => 'btn btn-primary'%>
  <%end%>


<%= render :partial => 'comments/index' %>
